.grid-container {
    display: flex;
    height: 960px;
    width: 960px;
    border: solid 1px;
    margin-left: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: space-between;
}

.row {
    display: flex;
    flex-grow: 1;
    opacity: 0;
}

button {
    width: 80px;
    height: 20px;
}